body {
    margin: 0;
    padding-top: 60px;
    font-family: 'Helvetica Neue', sans-serif;
    background: linear-gradient(135deg, #cad0b8 0%, #6bad44 100%);
    color: #2a3c02;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

.navbar {
    background-color: #2a3c02;
    padding: 15px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #91b37c;
}

img {
    border-radius: 20px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

h1 {
    font-size: 3em;
    margin-top: 20px;
    color: #2a3c02;
    font-weight: bold;
}

p {
    font-size: 1.2em;
    color: #4a5c3c;
    max-width: 600px;
    margin: 20px auto;
    line-height: 1.6em;
}

footer {
    margin-top: 50px;
    font-size: 0.9em;
    color: #aab19f;
    text-align: center;
    padding: 20px;
}

#interests {
    margin-top: 50px;
}

.interest-item {
    display: flex;
    align-items: center;
    margin: 20px 0;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    border-radius: 10px;
    background-color: #fefefe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.interest-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.interest-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-right: 20px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.interest-item:hover .interest-image {
    transform: rotate(5deg);
}

.interest-description h3 {
    margin: 0;
    color: #2a3c02;
}

.interest-description p {
    margin: 5px 0 0;
    color: #4a5c3c;
}

#Social-Accounts {
    margin-top: 50px;
}

.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links a {
    text-decoration: none;
    color: #2a3c02;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #91b37c;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.close {
    color: #888;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: color 0.3s ease;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    background-color: #f5f5f5;
}

.close:hover,
.close:focus {
    color: #2a3c02;
    background-color: #d5d8c7;
}

.modal img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

#projects {
    margin-top: 50px;
}

.project-item {
    margin: 20px 0;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    border-radius: 10px;
    background-color: #fefefe;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.project-description h3 {
    margin: 0;
    color: #2a3c02;
}

.project-description p {
    margin: 5px 0 0;
    color: #4a5c3c;
}

.project-description a {
    color: #2a3c02;
    text-decoration: none;
    transition: color 0.3s ease;
}

.project-description a:hover {
    color: #91b37c;
}

@media screen and (max-width: 600px) {
    .interest-item {
        flex-direction: column;
        text-align: center;
    }

    .interest-image {
        width: 100%;
        max-width: none;
        height: auto;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .interest-description {
        width: 100%;
        max-width: none;
        text-align: center;
    }
}

#thoughts {
    margin-top: 50px;
}

.thought-item {
    margin: 20px 0;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thought-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.thought-item h3 {
    margin: 0;
    color: #435422;
}

.thought-item p {
    margin: 5px 0 0;
    color: #666;
}

/* 新增样式使图片在文本旁边显示 */
.thought-content {
    display: flex;
    align-items: flex-start; /* Align items to the start */
    margin-bottom: 20px; /* Space between thought items */
}

.thought-content img {
    margin-left: 30px; /* Space between text and image */
    max-width: 300px; /* Adjust as necessary */
    height: 300px; /* Maintain aspect ratio */
}

.thought-time {
    font-size: 1.5em; /* 字体大小 */
    color: gray; /* 字体颜色 */
    margin-top: 10px; /* 与上方内容的间距 */
}


