/* Global Styles */

body {
  padding-top: 40px;
  font-family: "Fira Code", monospace;
  color: var(--text-color);
}

p {
  font-size: 1.08em;
  max-width: 550px;
  margin: auto;
  line-height: 2;
}

a {
  color: var(--primary-color);
  text-decoration: none;
  transition: var(--transition);
}

a:hover {
  color: #2980b9;
  text-decoration: underline;
}

* {
  scrollbar-color: var(--primary-color) var(--scrollbar-track);
}
